<style type="text/css">
    
</style>

<div style="width:100% !important" id="myform">
    <img src="~/Assets/images/lotusgreeenteam.png" style="height:110px; width:400px; margin-top:10px; " />
    <label>Note that material sourcing time is at least 7 days.</label>
</div>