@using ReportViewerForMvc;
@{
    ViewBag.Title = "ReportProject";
}
<style type="text/css">
    iframe{
        width:100% !important;
    }
</style>
<h1></h1>
<asp:ScriptManager ID="ScriptManager1" runat="server"></asp:ScriptManager>
@Html.ReportViewer(ViewBag.ReportViewer as Microsoft.Reporting.WebForms.ReportViewer)
