<!DOCTYPE html>
<html>
    <title>LGT - Stock</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/Content/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        html, body, h1, h2, h3, h4, h5 {
            font-family: "Raleway", sans-serif;
        }
    </style>
    <body class="w3-light-grey">

        <!-- Top container -->
        <div class="w3-bar w3-top w3-light-gray w3-large" style="z-index:4">
            <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i>  Menu</button>
            <span class="w3-bar-item w3-left"><img src="~/Assets/images/lotusgreeenteam.png" /></span>
            <span class="w3-bar-item w3-display-bottomright"><span>Welcome, <strong>Irene</strong></span></span>
            <a href="#" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i></a>
        </div>
            <!-- !PAGE CONTENT! -->
            <div class="w3-main" style="margin-top:100px;">
                <div class="w3-bar w3-light-green">
                    <a href="#" class="w3-bar-item w3-button"><i class="fa fa-home"></i></a>
                    <a href="#" class="w3-bar-item w3-button">Project</a>
                    <div class="w3-dropdown-click">
                        <button class="w3-button" onclick="myFunction('demo1')">
                            Material Request <i class="fa fa-caret-down"></i>
                        </button>
                        <div id="demo1" class="w3-dropdown-content w3-bar-block w3-card">
                            <a href="#" class="w3-bar-item w3-button">New Request</a>
                            <a href="#" class="w3-bar-item w3-button">My Request</a>
                            <a href="#" class="w3-bar-item w3-button">My Approval</a>
                            <a href="#" class="w3-bar-item w3-button">Material Reqeust List</a>
                        </div>
                    </div>
                    <div class="w3-dropdown-click">
                        <button class="w3-button" onclick="myFunction('demo2')">
                            Dropdown <i class="fa fa-caret-down"></i>
                        </button>
                        <div id="demo2" class="w3-dropdown-content w3-bar-block w3-card">
                            <a href="#" class="w3-bar-item w3-button">Link 1</a>
                            <a href="#" class="w3-bar-item w3-button">Link 2</a>
                            <a href="#" class="w3-bar-item w3-button">Link 3</a>
                        </div>
                    </div>
                </div>
                <!-- Header -->
                <header class="w3-container" style="padding-top:22px">
                    <h5><b><i class="fa fa-dashboard"></i> My Dashboard</b></h5>
                </header>

                @RenderBody()
                <!-- Footer -->
                <footer class="w3-container w3-green">
                    <p class="w3-left">&copy; @DateTime.Now.Year - LOTUS GREEN TEAM</p>
                    <p class="w3-right">Powered by <a href="http://www.bokortechnology.com" target="_blank">BOKOR TECHNOLOGY CO., LTD</a></p>
                </footer>

                <!-- End page content -->
            </div>

            <script>
                function myFunction(id) {
                    var x = document.getElementById(id);
                    if (x.className.indexOf("w3-show") == -1) {
                        x.className += " w3-show";
                    } else {
                        x.className = x.className.replace(" w3-show", "");
                    }
                }
            </script>

</body>
</html>
